* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
a {
  list-style: none;
  text-decoration: none;
}
li {
  list-style: none;
  font-size: 24px;
  font-weight: 400;
  color: #021718;
}
.menu :nth-child(2) {
  margin-left: 38rem;
}
.menu {
  background-color: #fff;

  z-index: auto;
  position: relative;
  z-index: 1;
}
.header {
  background-color: #fff;
  padding-top: 1em;
  height: 85px;
  position: relative;
  z-index: 1;
}
.menu:hover {
  background-color: burlywood;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}
.darle {
  background-color: rgba(255, 115, 0, 0.644);
  padding-left: 120px;
  padding-top: 100px;
}
.darle-title h1 {
  font-size: 64px;
  font-weight: 900;
  color: #021718;
}
.darle-title p {
  font-size: 24px;
  font-weight: 400;
  color: #021718;
  width: 418px;
  height: 84px;
  line-height: 42px;
}
button {
  background-color: #01847f;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  width: 196px;
  height: 60px;
}
.post {
  display: flex;
  margin-top: 130px;
  width: 451px;
  gap: 3em;
  margin-left: -40px;
  padding-bottom: 80px;
}
.img-1 {
  margin-top: -0.4em;
}

.vector-2 {
  position: absolute;
  top: -30px;
  position: absolute;
  z-index: -1;
  left: 455px;
  height: 910px;
  width: 1050px;
  transform: rotate(10deg);
}
.vector-1 {
  position: absolute;
  width: 819.15px;
  height: 731.74px;
  left: 743.52px;
  top: 12.5px;
  transform: rotate(6deg);
}

.bg {
  position: absolute;
  top: 165px;
  right: 160px;
  width: 500px;
  height: 500px;
  z-index: 1;
}
.bg-1 {
  position: absolute;
  top: 165px;
  right: 160px;
  width: 480px;
  height: 480px;
}
.footer {
  background-color: #fff;
  height: 140px;
  position: relative;
  z-index: 1;
  top: -20px;
}
